@import 'mixins';

.header {
  background-color: #bde6e6;
  box-shadow: 0 -3px 8px 0 rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 100;
  height: 64px;
  &__main {
    display: flex;
    align-items: center;
  }
  &__logo {
    margin-right: 16px;
    font-size: 24px;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
  }
  &__buttons {
    display: flex;
    align-items: center;
  }
  &__search {
    flex: 1;
  }
  &__menu {
    background-color: white;
  }
}
.search-icon {
  margin-right: 4px;
  color: rgba(0, 0, 0, 0.5);
  @include sp {
    font-size: 32px;
  }
}
.place-holder {
  color: rgba(0, 0, 0, 0.5);
  @include sp {
    display: none;
  }
}

.actions {
  display: flex;
  align-items: center;
  &__avatar {
    background-size: cover;
    margin-right: 16px;
  }
  &__item {
    background-color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
}

.mat-toolbar-row {
  height: 64px;
}
