<mat-toolbar class="header">
  <mat-toolbar-row class="header__inner">
    <div class="header__main">
      <a class="header__logo" routerLink="/">Mitete!!</a>
    </div>
    <div class="header__search">
      <app-search-form></app-search-form>
    </div>
    <p>こっち</p>
    <div class="header__buttons">
      <ng-template #notlogin>
        <button
          mat-button
          routerLink="/"
          class="actions__login"
          (click)="login()"
        >
          <span>ログイン</span>
          <mat-icon class="icon">login</mat-icon>
        </button>
      </ng-template>
      <ng-container *ngIf="user$ | async as user; else notlogin">
        <div class="actions">
          <button
            class="actions__avatar"
            mat-icon-button
            [style.background-image]="'url(' + user.avatarUrl + ')'"
            [matMenuTriggerFor]="mypageItem"
          ></button>
          <button
            mat-icon-button
            class="actions__item"
            [matMenuTriggerFor]="menu"
          >
            <mat-icon>add</mat-icon>
          </button>
          <mat-menu
            #mypageItem="matMenu"
            xPosition="before"
            class="header__menu"
          >
            <button mat-menu-item>
              <mat-icon>note_add</mat-icon>
              <a routerLink="/mypage/{{ user.uid }}">マイページ</a>
            </button>
            <button mat-menu-item>
              <mat-icon>note_add</mat-icon>
              <a (click)="logout()">ログアウト</a>
            </button>
          </mat-menu>

          <mat-menu #menu="matMenu" xPosition="before" class="header__menu">
            <button mat-menu-item>
              <mat-icon>note_add</mat-icon>
              <a routerLink="/editor/create">投稿する</a>
            </button>
          </mat-menu>
        </div>
      </ng-container>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
