<div class="create">
  <div class="create__main">
    <div class="create__title">Mitete!! の使い方</div>
  </div>
  <ul class="create__card-list">
    <li class="create__item create__item--1">
      <p class="create__card-title">まずはユーザー登録</p>
      <img
        src="/assets/images/undraw_Metrics_re_6g90.svg"
        alt=""
        class="create__img"
      />
    </li>
    <li class="create__item create__item--2">
      <p class="create__card-title">投稿ボタンから投稿</p>
      <img
        src="/assets/images/undraw_Metrics_re_6g90.svg"
        alt=""
        class="create__img"
      />
    </li>
    <li class="create__item create__item--3">
      <p class="create__card-title">メニューを選んで</p>
      <img
        src="/assets/images/undraw_Metrics_re_6g90.svg"
        alt=""
        class="create__img"
      />
    </li>
    <li class="create__item create__item--4">
      <p class="create__card-title">投稿完了！</p>
      <img
        src="/assets/images/undraw_Metrics_re_6g90.svg"
        alt=""
        class="create__img"
      />
    </li>
    <div class="create__back"></div>
  </ul>
</div>
