<div class="catch">
  <div class="catch__main">
    <h1 class="catch__title">Mitete!! とは</h1>
    <p class="catch__text">Mitete!!は体型記録に特化したSNSサービスです!</p>
    <p class="catch__text">他のユーザーの体型変化や記録を見ることや、自分の</p>
    <p class="catch__text">
      体型を写真として残すことでモチベーションの維持に貢献します！
    </p>
    <p class="catch__text">1人では頑張れないあなたに! 絶対変わるからMitete!!</p>
  </div>
  <!-- <div class="info">
    <div class="info__before">
      <h2 class="info__title">BEFORE</h2>
      <p class="info__text info__text--margin">
        いつ何のトレーニングをしたか分からない…
      </p>
      <img
        src="/assets/images/undraw_Questions_re_1fy7.svg"
        alt=""
        class="info__img"
      />
    </div>
    <div class="info__after">
      <h2 class="info__title info__title--color">AFTER</h2>
      <p class="info__text">自分の記録を見れるようにすることで</p>
      <p class="info__text info__text--margin">
        より効率的なトレーニングができる！
      </p>
      <img
        src="/assets/images/undraw_fitness_stats_sht6.svg"
        alt=""
        class="info__img"
      />
    </div>
  </div>
</div> -->
</div>
