<div class="catch">
  <div class="catch__main">
    <h1 class="catch__title">Mitete!! とは</h1>
    <p class="catch__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis in, cum
      suscipit atque dolorum similique voluptatem tempore, placeat error hic
      libero explicabo quia vitae officia excepturi quidem corporis, eum dicta?
    </p>
  </div>
  <div class="info">
    <div class="info__before">
      <h2 class="info__title">BEFORE</h2>
      <p class="info__text">Lorem ipsum dolor sit amet.</p>
      <img
        src="/assets/images/undraw_Questions_re_1fy7.svg"
        alt=""
        class="info__img"
      />
    </div>
    <div class="info__after">
      <h2 class="info__title info__title--color">AFTER</h2>
      <p class="info__text">Lorem ipsum dolor sit amet.</p>
      <img
        src="/assets/images/undraw_fitness_stats_sht6.svg"
        alt=""
        class="info__img"
      />
    </div>
  </div>
</div>
