.mypage-container {
  max-width: 100%;
  height: 530px;
  position: relative;
}

.mypage {
  &__images {
    height: 400px;
  }
  &__image-avatar {
    border-radius: 50%;
    width: 180px;
    height: 180px;
    margin-right: 16px;
    background-size: cover;
    border: 4px #ddd solid;
    position: absolute;
    left: 610px;
    top: 200px;
  }
  &__image-back {
    position: absolute;
    right: 250px;
    border-radius: 0 0 10px 10px;
  }
  &__user-info {
    height: 120px;
    width: 880px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
  }
  &__user-name {
    font-size: 32px;
    font-weight: 700;
  }
  &__contents {
    max-width: 880px;
    margin: 0 auto;
    padding: 0px;
  }
  &__tabs {
    width: 880px;
  }
}

.mat-tab-nav-bar,
.mat-tab-header {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
