<div class="card-container">
  <ng-container *ngIf="user$ | async as user">
    <div class="card">
      <div class="card__inner">
        <button
          class="card__avatar"
          mat-icon-button
          [style.background-image]="'url(' + user.avatarUrl + ')'"
        ></button>
        <div class="card__info">
          <a routerLink="/detail/OOB0BOYUyu7V2fdIf9ID">
            <div class="header">
              <div class="header__data">
                <p class="header__user-name">隈本優希</p>
                <p class="header__created-at">2020/07/20</p>
              </div>
              <div class="card__actions"><p>…</p></div>
            </div>
            <div class="data">
              <div class="data__item">
                <div class="data__title">体重 :</div>
                <div class="data__value">70kg</div>
              </div>
              <div class="data__item">
                <div class="data__title">体脂肪率 :</div>
                <div class="data__value">20%</div>
              </div>
              <div class="data__item">
                <div class="data__title">今日のメニュー ▼</div>
                <div class="data__value"></div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card__inner">
        <button
          class="card__avatar"
          mat-icon-button
          [style.background-image]="'url(' + user.avatarUrl + ')'"
        ></button>
        <div class="card__info">
          <a routerLink="/detail/OOB0BOYUyu7V2fdIf9ID">
            <div class="header">
              <div class="header__data">
                <p class="header__user-name">隈本優希</p>
                <p class="header__created-at">2020/07/20</p>
              </div>
              <div class="card__actions"><p>…</p></div>
            </div>
            <div class="data">
              <div class="data__item">
                <div class="data__title">体重 :</div>
                <div class="data__value">70kg</div>
              </div>
              <div class="data__item">
                <div class="data__title">体脂肪率 :</div>
                <div class="data__value">20%</div>
              </div>
              <div class="data__item">
                <div class="data__title">今日のメニュー ▼</div>
                <div class="data__value"></div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card__inner">
        <button
          class="card__avatar"
          mat-icon-button
          [style.background-image]="'url(' + user.avatarUrl + ')'"
        ></button>
        <div class="card__info">
          <a routerLink="/detail/OOB0BOYUyu7V2fdIf9ID">
            <div class="header">
              <div class="header__data">
                <p class="header__user-name">隈本優希</p>
                <p class="header__created-at">2020/07/20</p>
              </div>
              <div class="card__actions"><p>…</p></div>
            </div>
            <div class="data">
              <div class="data__item">
                <div class="data__title">体重 :</div>
                <div class="data__value">70kg</div>
              </div>
              <div class="data__item">
                <div class="data__title">体脂肪率 :</div>
                <div class="data__value">20%</div>
              </div>
              <div class="data__item">
                <div class="data__title">今日のメニュー ▼</div>
                <div class="data__value"></div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card__inner">
        <button
          class="card__avatar"
          mat-icon-button
          [style.background-image]="'url(' + user.avatarUrl + ')'"
        ></button>
        <div class="card__info">
          <a routerLink="/detail/OOB0BOYUyu7V2fdIf9ID">
            <div class="header">
              <div class="header__data">
                <p class="header__user-name">隈本優希</p>
                <p class="header__created-at">2020/07/20</p>
              </div>
              <div class="card__actions"><p>…</p></div>
            </div>
            <div class="data">
              <div class="data__item">
                <div class="data__title">体重 :</div>
                <div class="data__value">70kg</div>
              </div>
              <div class="data__item">
                <div class="data__title">体脂肪率 :</div>
                <div class="data__value">20%</div>
              </div>
              <div class="data__item">
                <div class="data__title">今日のメニュー ▼</div>
                <div class="data__value"></div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card__inner">
        <button
          class="card__avatar"
          mat-icon-button
          [style.background-image]="'url(' + user.avatarUrl + ')'"
        ></button>
        <div class="card__info">
          <a routerLink="/detail/OOB0BOYUyu7V2fdIf9ID">
            <div class="header">
              <div class="header__data">
                <p class="header__user-name">隈本優希</p>
                <p class="header__created-at">2020/07/20</p>
              </div>
              <div class="card__actions"><p>…</p></div>
            </div>
            <div class="data">
              <div class="data__item">
                <div class="data__title">体重 :</div>
                <div class="data__value">70kg</div>
              </div>
              <div class="data__item">
                <div class="data__title">体脂肪率 :</div>
                <div class="data__value">20%</div>
              </div>
              <div class="data__item">
                <div class="data__title">今日のメニュー ▼</div>
                <div class="data__value"></div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card__inner">
        <button
          class="card__avatar"
          mat-icon-button
          [style.background-image]="'url(' + user.avatarUrl + ')'"
        ></button>
        <div class="card__info">
          <a routerLink="/detail/OOB0BOYUyu7V2fdIf9ID">
            <div class="header">
              <div class="header__data">
                <p class="header__user-name">隈本優希</p>
                <p class="header__created-at">2020/07/20</p>
              </div>
              <div class="card__actions"><p>…</p></div>
            </div>
            <div class="data">
              <div class="data__item">
                <div class="data__title">体重 :</div>
                <div class="data__value">70kg</div>
              </div>
              <div class="data__item">
                <div class="data__title">体脂肪率 :</div>
                <div class="data__value">20%</div>
              </div>
              <div class="data__item">
                <div class="data__title">今日のメニュー ▼</div>
                <div class="data__value"></div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card__inner">
        <button
          class="card__avatar"
          mat-icon-button
          [style.background-image]="'url(' + user.avatarUrl + ')'"
        ></button>
        <div class="card__info">
          <a routerLink="/detail/OOB0BOYUyu7V2fdIf9ID">
            <div class="header">
              <div class="header__data">
                <p class="header__user-name">隈本優希</p>
                <p class="header__created-at">2020/07/20</p>
              </div>
              <div class="card__actions"><p>…</p></div>
            </div>
            <div class="data">
              <div class="data__item">
                <div class="data__title">体重 :</div>
                <div class="data__value">70kg</div>
              </div>
              <div class="data__item">
                <div class="data__title">体脂肪率 :</div>
                <div class="data__value">20%</div>
              </div>
              <div class="data__item">
                <div class="data__title">今日のメニュー ▼</div>
                <div class="data__value"></div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card__inner">
        <button
          class="card__avatar"
          mat-icon-button
          [style.background-image]="'url(' + user.avatarUrl + ')'"
        ></button>
        <div class="card__info">
          <a routerLink="/detail/OOB0BOYUyu7V2fdIf9ID">
            <div class="header">
              <div class="header__data">
                <p class="header__user-name">隈本優希</p>
                <p class="header__created-at">2020/07/20</p>
              </div>
              <div class="card__actions"><p>…</p></div>
            </div>
            <div class="data">
              <div class="data__item">
                <div class="data__title">体重 :</div>
                <div class="data__value">70kg</div>
              </div>
              <div class="data__item">
                <div class="data__title">体脂肪率 :</div>
                <div class="data__value">20%</div>
              </div>
              <div class="data__item">
                <div class="data__title">今日のメニュー ▼</div>
                <div class="data__value"></div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card__inner">
        <button
          class="card__avatar"
          mat-icon-button
          [style.background-image]="'url(' + user.avatarUrl + ')'"
        ></button>
        <div class="card__info">
          <a routerLink="/detail/OOB0BOYUyu7V2fdIf9ID">
            <div class="header">
              <div class="header__data">
                <p class="header__user-name">隈本優希</p>
                <p class="header__created-at">2020/07/20</p>
              </div>
              <div class="card__actions"><p>…</p></div>
            </div>
            <div class="data">
              <div class="data__item">
                <div class="data__title">体重 :</div>
                <div class="data__value">70kg</div>
              </div>
              <div class="data__item">
                <div class="data__title">体脂肪率 :</div>
                <div class="data__value">20%</div>
              </div>
              <div class="data__item">
                <div class="data__title">今日のメニュー ▼</div>
                <div class="data__value"></div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card__inner">
        <button
          class="card__avatar"
          mat-icon-button
          [style.background-image]="'url(' + user.avatarUrl + ')'"
        ></button>
        <div class="card__info">
          <a routerLink="/detail/OOB0BOYUyu7V2fdIf9ID">
            <div class="header">
              <div class="header__data">
                <p class="header__user-name">隈本優希</p>
                <p class="header__created-at">2020/07/20</p>
              </div>
              <div class="card__actions"><p>…</p></div>
            </div>
            <div class="data">
              <div class="data__item">
                <div class="data__title">体重 :</div>
                <div class="data__value">70kg</div>
              </div>
              <div class="data__item">
                <div class="data__title">体脂肪率 :</div>
                <div class="data__value">20%</div>
              </div>
              <div class="data__item">
                <div class="data__title">今日のメニュー ▼</div>
                <div class="data__value"></div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card__inner">
        <button
          class="card__avatar"
          mat-icon-button
          [style.background-image]="'url(' + user.avatarUrl + ')'"
        ></button>
        <div class="card__info">
          <a routerLink="/detail/OOB0BOYUyu7V2fdIf9ID">
            <div class="header">
              <div class="header__data">
                <p class="header__user-name">隈本優希</p>
                <p class="header__created-at">2020/07/20</p>
              </div>
              <div class="card__actions"><p>…</p></div>
            </div>
            <div class="data">
              <div class="data__item">
                <div class="data__title">体重 :</div>
                <div class="data__value">70kg</div>
              </div>
              <div class="data__item">
                <div class="data__title">体脂肪率 :</div>
                <div class="data__value">20%</div>
              </div>
              <div class="data__item">
                <div class="data__title">今日のメニュー ▼</div>
                <div class="data__value"></div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card__inner">
        <button
          class="card__avatar"
          mat-icon-button
          [style.background-image]="'url(' + user.avatarUrl + ')'"
        ></button>
        <div class="card__info">
          <a routerLink="/detail/OOB0BOYUyu7V2fdIf9ID">
            <div class="header">
              <div class="header__data">
                <p class="header__user-name">隈本優希</p>
                <p class="header__created-at">2020/07/20</p>
              </div>
              <div class="card__actions"><p>…</p></div>
            </div>
            <div class="data">
              <div class="data__item">
                <div class="data__title">体重 :</div>
                <div class="data__value">70kg</div>
              </div>
              <div class="data__item">
                <div class="data__title">体脂肪率 :</div>
                <div class="data__value">20%</div>
              </div>
              <div class="data__item">
                <div class="data__title">今日のメニュー ▼</div>
                <div class="data__value"></div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card__inner">
        <button
          class="card__avatar"
          mat-icon-button
          [style.background-image]="'url(' + user.avatarUrl + ')'"
        ></button>
        <div class="card__info">
          <a routerLink="/detail/OOB0BOYUyu7V2fdIf9ID">
            <div class="header">
              <div class="header__data">
                <p class="header__user-name">隈本優希</p>
                <p class="header__created-at">2020/07/20</p>
              </div>
              <div class="card__actions"><p>…</p></div>
            </div>
            <div class="data">
              <div class="data__item">
                <div class="data__title">体重 :</div>
                <div class="data__value">70kg</div>
              </div>
              <div class="data__item">
                <div class="data__title">体脂肪率 :</div>
                <div class="data__value">20%</div>
              </div>
              <div class="data__item">
                <div class="data__title">今日のメニュー ▼</div>
                <div class="data__value"></div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </ng-container>
</div>
