@import 'mixins';
@import 'variables';
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500&subset=latin-ext';

* {
  z-index: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #212121;
  background-color: #212121;
}

.card-container {
  max-width: 600px;
  padding: 80px 0;
  margin: 0 auto;
  background-color: #f9f9f9;
  display: grid;
  gap: 24px;
  @include sp {
    padding: 80px 16px;
  }
}

.card {
  background-color: #ffffff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 5px;
  &__inner {
    padding: 16px 24px;
    display: flex;
    align-items: center;
  }
  &__info {
    flex: 1;
  }
  &__avatar {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-right: 24px;
    cursor: pointer;
    @include sp {
      width: 40px;
      height: 40px;
    }
  }
  &__header {
    display: flex;
    justify-content: space-between;
  }
  &__user-name {
    font-weight: 600;
    margin-bottom: 16px;
  }
}

.data {
  &__title {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.48);
    margin-right: 16px;
  }
  &__item {
    display: flex;
    margin-bottom: 8px;
  }
}

.info {
  &__items {
    align-items: center;
    display: flex;
    margin-bottom: 16px;
    @include sp {
      margin-bottom: 8px;
    }
  }

  &__user-name {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 4px;
    @include sp {
      font-size: 16px;
    }
  }
  &__created-at {
    color: rgba(0, 0, 0, 0.5);
  }
  &__text {
    font-size: 16px;
    @include sp {
      font-size: 12px;
    }
  }
}
