<div class="container">
  <ng-container *ngIf="note">
    <div class="card">
      <div class="card__inner">
        <div class="header">
          <div class="header__inner">
            <button
              mat-icon-button
              class="header__avatar"
              [style.background-image]="'url(' + note.user.avatarUrl + ')'"
            ></button>
          </div>
          <div class="header__content">
            <div class="header__user-name">{{ note.user.userName }}</div>
            <div class="header__date">
              {{ note.createdAt.toDate() | date: 'yyyy/MM/dd' }}
            </div>
          </div>
        </div>
      </div>
      <div class="card__body">
        <p class="card__weight">体重は{{ note.weight }}kgで</p>
        <p class="card__fat">体脂肪率は{{ note.bodyFatPer }}%でした。</p>
        <p class="card__movieUrl">{{ note.movieUrl }}の動画を参考に</p>
        <p class="card__menu">{{ note.todayMenu }}をしたので</p>
        <p class="card__text">{{ note.text }}という気分でした。</p>
        <div class="card__cover"></div>
      </div>
    </div>
  </ng-container>
</div>
