@import 'mixins';
@import 'variables';

.card-container {
  max-width: 550px;
  padding: 80px 0;
  margin: 0 auto;
}
.card {
  cursor: pointer;
  background: linear-gradient(to top, #eef0f7 0%, #f9f8f8 100%);
  border-radius: 8px;
  box-shadow: 0px 1px 2px #c3bfbf;
  background-color: white;
  margin-bottom: 24px;
  position: relative;
  overflow: hidden;
  &__inner {
    padding: 8px 24px 24px;
    @include sp {
      padding: 8px 15px 18px;
    }
  }
  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
  }
  &__avatar {
    margin-right: 16px;
  }
  &__header-top {
    width: 100%;
  }
  &__user-name {
    font-size: 18px;
    font-weight: 500;
  }
  &__data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__menu-btn {
    cursor: pointer;
  }
  &__date {
    color: rgba(0, 0, 0, 0.5);
  }
}

.data {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 4px;
  align-items: center;
  padding-right: 48px;
  @include sp {
    padding-right: 0;
  }
  &__items {
    margin-right: 20px;
  }
  &__figure {
    display: flex;
    margin-bottom: 4px;
    align-items: baseline;
  }
  &__figure-menu {
    display: flex;
    align-items: baseline;
  }
  &__other {
    color: rgba(0, 0, 0, 0.6);
    font-size: 10px;
    grid-row: 2/3;
    grid-column: 3/4;
  }
  &__end {
    color: rgba(0, 0, 0, 0.6);
  }
  &__todays {
    font-size: 24px;
    font-weight: 500;
    margin-right: 8px;
    overflow-wrap: break-word;
    @include sp {
      font-size: 16px;
      font-weight: 700;
    }
  }
  &__todays-k {
    font-family: 'Kosugi', sans-serif;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 8px;
    @include sp {
      font-size: 16px;
    }
  }
  &__title {
    font-family: $font-title;
    font-size: 12px;
    color: #9c9c9c;
    @include sp {
      font-size: 8px;
    }
  }
}
