<div class="card-container">
  <div class="card">
    <div class="card">
      <div class="info">
        <a routerLink="/detail/OOB0BOYUyu7V2fdIf9ID">
          <div class="info__items">
            <button class="info__avatar" mat-icon-button></button>
            <div class="info__data">
              <div class="info__user-name"></div>
              <div class="info__created-at"></div>
            </div>
          </div>
          <p class="info__text"></p>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="card-container">
  <ng-container *ngIf="user$ | async as user">
    <div class="card">
      <div class="card__inner">
        <button
          class="card__avatar"
          mat-icon-button
          [style.background-image]="'url(' + user.avatarUrl + ')'"
        ></button>
        <div class="card__info">
          <div class="card__header">
            <p class="card__user-name">隈本優希</p>
            <div class="card__actions"><p>…</p></div>
          </div>
          <div class="data">
            <div class="data__item">
              <div class="data__title">体重 :</div>
              <div class="data__value">70kg</div>
            </div>
            <div class="data__item">
              <div class="data__title">体脂肪率 :</div>
              <div class="data__value">20%</div>
            </div>
            <div class="data__item">
              <div class="data__title">今日のメニュー ▼</div>
              <div class="data__value"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
