<div class="container-welcome">
  <div class="welcome">
    <app-hero></app-hero>
    <div class="welcome__inner">
      <app-catch></app-catch>
      <app-how-to-create></app-how-to-create>
    </div>
    <div class="login">
      <p class="login__text">Miteteを使って毎日の筋トレを記録しよう！</p>
      <button mat-raised-button class="login__btn" (click)="login()">
        Miteteを始める
      </button>
    </div>
  </div>
</div>
<!-- <div class="container">
  <div class="welcome">
    <div class="welcome__top">
      <div class="top">
        <div class="top__title">Muscle-Memo</div>
      </div>
    </div>
    <div class="welcome__about">
      <div class="about">Muscle-Memoについて</div>
    </div>
    <div class="welcome__catchcopy">
      <div class="cathchcopy">キャッチコピー</div>
    </div>
    <div class="welcome__login-button">
      <button (click)="login()" mat-raised-button color="primary">記録を始める</button>
    </div>
  </div>
</div> -->
