<div class="header">
  <div class="header__inner">
    <h1 class="header__logo">
      <a href="/">ロゴ</a>
    </h1>
  </div>
</div>
<div class="container">
  <div class="welcome">
    <div class="welcome__top">
      <div class="top">
        <div class="top__title">Muscle-Memo</div>
      </div>
    </div>
    <div class="welcome__about">
      <div class="about">Muscle-Memoについて</div>
    </div>
    <div class="welcome__catchcopy">
      <div class="cathchcopy">キャッチコピー</div>
    </div>
    <div class="welcome__login-button">
      <button (click)="login()" mat-raised-button color="primary">記録を始める</button>
    </div>
  </div>
</div>
