@import url('https://fonts.googleapis.com/css2?family=Kosugi&display=swap');

$font-default: Roboto, 'Helvetica Neue', 'Hiragino Sans',
  'Hiragino Kaku Gothic Pro', meiryo, 'Helvetica Neue', roboto, droid sans,
  arial, sans-serif;
$font-title: Noto Sans JP, Hiragino Kaku Gothic ProN, Hiragino Kaku Gothic Pro,
  游ゴシック体, YuGothic, 游ゴシック Medium, Yu Gothic Medium, 游ゴシック,
  Yu Gothic, Meiryo, メイリオ, ＭＳ\ゴシック, Helvetica, sans-serif;

$main-color: #1877f2;
$sub-color: #eef0f7;

$sub-text: #333;
$main-title: #658cbf;
