<div class="container container--card" *ngIf="user$ | async as user">
  <div class="wrapper">
    <div class="form-card">
      <div class="form-card__inner">
        <a
          class="form-card__avatar"
          [style.background-image]="'url(' + user.avatarUrl + ')'"
        ></a>
        <div class="form-card__form">
          <p class="place-holder">
            {{ user.userName }} さん、その気持ち、シェアしよう
          </p>
        </div>
      </div>
      <hr class="form-card__divider" />
    </div>
  </div>
</div>
<div class="card-list">
  <ng-container *ngIf="notes$ | async as notes">
    <app-card *ngFor="let note of notes" [note]="note"></app-card>
  </ng-container>
</div>
