.image-card {
  background-color: #eef0f7;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  &__content {
    width: 232px;
    list-style: none;
    border: 1px #ddd solid;
    margin: 18px 0 0 18px;
    background-color: #fff;
  }

  &__date {
    color: #fff;
    text-shadow: 1px 1px 1.5px rgba(0, 0, 0, 0.6);
    text-align: left;
    align-items: center;
    position: relative;
    bottom: 30px;
    left: 16px;
  }
  &__avatar {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 16px;
    background-size: cover;
  }
  &__info {
    padding: 8px;
    display: flex;
    align-items: center;
    border-bottom: 1px #ddd solid;
  }
  &__user-data {
    text-align: left;
  }
  &__data {
    font-size: 14px;
    color: #888;
  }
  &__body-info {
    display: flex;
    overflow-wrap: break-word;
  }
  &__active {
    padding: 8px;
  }
  &__icon {
    margin-right: 8px;
  }
}

.time {
  margin-right: 8px;
}
