<ul class="image-card" *ngFor="let user of users">
  <li class="image-card__content">
    <div class="image-card__header">
      <img src="http://placehold.jp/232x310.png" alt="体型の写真" />
      <div class="image-card__date">2020.11.26</div>
    </div>
    <div class="image-card__info">
      <button
        class="image-card__avatar"
        [style.background-image]="'url(' + user.avatarUrl + ')'"
      ></button>
      <div class="image-card__name">{{ user.userName }}</div>
    </div>
    <div class="image-card__body-info">
      <div class="image-card__body-fat">{{ user.height }}cm /</div>
      <div class="image-card__weight">{{ user.weight }}kg /</div>
      <div class="image-card__gender">{{ user.gender }} /</div>
    </div>
    <button class="image-card__liked"></button>
  </li>
  <li class="image-card__content">
    <div class="image-card__header">
      <img src="http://placehold.jp/232x310.png" alt="体型の写真" />
      <div class="image-card__date">2020.11.26</div>
    </div>
    <div class="image-card__info">
      <button
        class="image-card__avatar"
        [style.background-image]="'url(' + user.avatarUrl + ')'"
      ></button>
      <div class="image-card__name">{{ user.userName }}</div>
    </div>
    <div class="image-card__body-info">
      <div class="image-card__body-fat">{{ user.height }}cm /</div>
      <div class="image-card__weight">{{ user.weight }}kg /</div>
      <div class="image-card__gender">{{ user.gender }} /</div>
    </div>
    <button class="image-card__liked"></button>
  </li>
  <li class="image-card__content">
    <div class="image-card__header">
      <img src="http://placehold.jp/232x310.png" alt="体型の写真" />
      <div class="image-card__date">2020.11.26</div>
    </div>
    <div class="image-card__info">
      <button
        class="image-card__avatar"
        [style.background-image]="'url(' + user.avatarUrl + ')'"
      ></button>
      <div class="image-card__name">{{ user.userName }}</div>
    </div>
    <div class="image-card__body-info">
      <div class="image-card__body-fat">{{ user.height }}cm /</div>
      <div class="image-card__weight">{{ user.weight }}kg /</div>
      <div class="image-card__gender">{{ user.gender }} /</div>
    </div>
    <button class="image-card__liked"></button>
  </li>
</ul>
