@import 'mixins';

.image-card {
  // background-color: #eef0f7;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  // @include tab {
  // }
  &__content {
    list-style: none;
    border: 1px #ddd solid;
    margin: 16px auto;
  }
  &__main-image {
    position: relative;
  }
  &__date {
    color: #fff;
    text-shadow: 1px 1px 1.5px rgb(0 0 0 / 60%);
    text-align: left;
    align-items: center;
    position: absolute;
    left: 8px;
    bottom: 10px;
  }
  &__avatar {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 16px;
    background-size: cover;
  }
  &__info {
    padding: 8px;
    display: flex;
    align-items: center;
    border-bottom: 1px #ddd solid;
    background-color: white;
  }
  &__user-data {
    text-align: left;
    background-color: #fff;
  }
  &__data {
    font-size: 14px;
    color: #888;
  }
  &__body-info {
    display: flex;
    overflow-wrap: break-word;
  }
  &__active {
    padding: 8px;
    background-color: #fff;
  }
  &__icon {
    margin-right: 8px;
  }
}

.time {
  margin-right: 8px;
}

.not-exist {
  padding: 16px 0;
  margin: 0 auto;
}
