<!-- <div class="detail" >
  <div class="card">
    <div class="card__inner">
      <img src="" alt="" class="card__img" />
      <div class="card__data">
        <div class=""></div>
      </div>
    </div>
  </div>
</div> -->

<div *ngFor="let fakes of fakeNoteWithUser$">
  <div class="detail-container">
    <div class="detail">
      <div class="detail__inner">
        <img
          [style.background-image]="'url(' + fakes.avatarUrl + ')'"
          alt=""
          class="detail__main-image"
        />

        <div class="about">
          <div class="about__inner">
            <div class="about__card-items">
              <h2 class="about__title">{{ fakes.userName }}の今日の記録</h2>
              <div class="about__value">
                <div class="about__now-value">
                  <mat-icon inline>speed</mat-icon>
                  体重：　{{ fakes.weight }} kg
                </div>
                <div class="about__lose-value">-４kg</div>
              </div>
              <div class="about__value">
                <div class="about__now-value">
                  <mat-icon inline>speed</mat-icon>
                  体脂肪率：　{{ fakes.bodyFatPer }} %
                </div>
                <div class="about__lose-value">-1%</div>
              </div>
              <p class="about__description">{{ fakes.text }}</p>
              <div class="about__time">
                <mat-icon inline>access_time</mat-icon>
                {{ fakes.createdAt }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
