@import 'mixins';
@import 'variables';
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500&subset=latin-ext';

.wrapper {
  background-color: #f7f7f7;
  padding-top: 16px;
}

.card-container {
  max-width: 600px;
  padding: 80px 0 0;
  margin: 0 auto;
  display: grid;
  gap: 24px;
  @include sp {
    padding: 80px 16px;
  }
}
