<div class="hero">
  <div class="hero__inner">
    <h1 class="hero__title">Mitete!!</h1>
    <p class="hero__subscription">Lorem ipsum dolor sit.</p>
    <img src="" alt="" class="hero__mock" />
    <div class="hero__waves">
      <div class="wave-top">
        <img src="/assets/images/wave1.svg" alt="" class="hero__wave1" />
      </div>
      <div class="wave-middle">
        <img src="/assets/images/wave2.svg" alt="" class="hero__wave2" /><img
          src="/assets/images/wave2a.svg"
          alt=""
          class="hero__wave2"
        />
      </div>
      <div class="wave-bottom">
        <img src="/assets/images/wave3.svg" alt="" class="hero__wave3" />
        <img src="/assets/images/wave3a.svg" alt="" class="hero__wave3" />
      </div>
    </div>
  </div>
</div>
