@import 'mixins';
@import 'variables';

.hero {
  background-color: $main-color;
  &__inner {
    height: 40vh;
    position: relative;
    @include sp {
      margin-bottom: 60px;
      height: 160px;
    }
  }
  &__title {
    color: #3cadaa;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__subscription {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 88%);
  }
  &__waves {
    position: relative;
    height: 100%;
  }
  &__wave1 {
    position: absolute;
    transform: rotate(180deg);
    bottom: -24%;
    @include mid {
      bottom: -24%;
    }
  }
  &__wave2 {
    position: absolute;
    transform: rotate(180deg);
    bottom: -48%;
    @include mid {
      bottom: -40%;
    }
  }
  &__wave3 {
    position: absolute;
    transform: rotate(180deg);
    bottom: -48%;
    @include mid {
      bottom: -40%;
    }
  }
}

// .hero {
//   width: 100vw;
//   height: 400px;
//   margin-bottom: 72px;
//   &__main-img {
//     background: url(../../../assets/images/welcome-image.jpg) no-repeat center;
//     background-size: cover;
//     position: relative;
//     height: 100%;
//     overflow: hidden;
//     &::before {
//       content: '';
//       position: absolute;
//       top: 0;
//       right: 0;
//       bottom: 0;
//       left: 0;
//       background-color: rgba(0, 0, 0, 0.5);
//     }
//   }
//   &__left {
//     height: 75%;
//     position: absolute;
//     top: 0;
//     left: 0;
//     @include tab {
//       display: none;
//     }
//   }
//   &__right {
//     height: 155%;
//     position: absolute;
//     top: 7%;
//     right: 0;
//     @include tab {
//       display: none;
//     }
//   }
//   &__titles {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     text-align: center;
//   }
//   &__main-title {
//     font-size: 48px;
//     color: snow;
//     margin-bottom: 8px;
//   }
//   &__sub-title {
//     color: white;
//     font-weight: 100;
//     margin-bottom: 40px;
//   }
// }

// .hero {
//   &__main-img {
//     background: url(../../../assets/images/welcome-image.jpg) no-repeat center;
//     background-size: cover;
//     width: 100%;
//     position: relative;
//     &::before {
//       content: '';
//       position: absolute;
//       top: 0;
//       right: 0;
//       bottom: 0;
//       left: 0;
//       z-index: -1;
//       background-color: rgba(0, 0, 0, 0.3);
//     }
//   }
//   // &__titles {
//   //   position: absolute;
//   //   bottom: 50%;
//   //   right: 33%;
//   //   text-align: center;
//   // }
//   // &__main-title {
//   //   font-size: 48px;
//   //   color: snow;
//   //   margin-bottom: 8px;
//   // }
//   // &__sub-title {
//   //   color: white;
//   //   font-weight: 100;
//   //   margin-bottom: 40px;
//   // }
// }
