<div class="container">
  <div class="container container--select">
    <div class="header">
      <div class="header__inner">
        <div class="header__actions"></div>
        <div class="header__description">
          <h2 class="header__title">トレーニングを追加</h2>
          <div class="header__how-to">使い方説明</div>
        </div>
        <div class="header__search">
          <div class="header__search-form">
            <button mat-icon-button>
              <mat-icon>search</mat-icon>
            </button>
            <p>トレーニングを検索</p>
          </div>
          <div class="header__sort-button">
            <button class="header__sort-button" mat-icon-button>
              <mat-icon>tune</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="menu">
      <div class="library">
        <div class="library__title">Library</div>
        <div class="library__items">
          <div class="library__item">
            <div class="item-wrapper">
              <div class="library__item-title">ベンチプレス</div>
              <span class="library__item-tags">胸</span>
              <span class="library__item-tags">上腕三頭筋</span>
              <span class="library__item-tags">三角筋</span>
            </div>
            <button class="library__item-add" mat-icon-button>
              <mat-icon>add_circle_outline</mat-icon>
            </button>
          </div>
          <div class="library__item">
            <div class="item-wrapper">
              <div class="library__item-title">懸垂</div>
              <span class="library__item-tags">広背筋</span>
              <span class="library__item-tags">上腕二頭筋</span>
            </div>
            <button class="library__item-add" mat-icon-button>
              <mat-icon>add_circle_outline</mat-icon>
            </button>
          </div>
          <div class="library__item">
            <div class="item-wrapper">
              <div class="library__item-title">レッグプレス</div>
              <span class="library__item-tags">大腿四頭筋</span>
              <span class="library__item-tags">ハムストリングス</span>
            </div>
            <button class="library__item-add" mat-icon-button>
              <mat-icon>add_circle_outline</mat-icon>
            </button>
          </div>
          <div class="library__item">
            <div class="item-wrapper">
              <div class="library__item-title">デッドリフト</div>
              <span class="library__item-tags">大腿四頭筋</span>
              <span class="library__item-tags">ハムストリングス</span>
              <span class="library__item-tags">背筋下部</span>
              <span class="library__item-tags">お尻</span>
            </div>
            <button class="library__item-add" mat-icon-button>
              <mat-icon>add_circle_outline</mat-icon>
            </button>
          </div>
          <div class="library__item">
            <div class="item-wrapper">
              <div class="library__item-title">ベントオーバーロウ</div>
              <span class="library__item-tags">広背筋</span>
              <span class="library__item-tags">背筋</span>
              <span class="library__item-tags">三角筋</span>
            </div>
            <button class="library__item-add" mat-icon-button>
              <mat-icon>add_circle_outline</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <div class="selected">
        <div class="selected__title">Select</div>
        <div class="selected__items">まだアイテムはありません</div>
      </div>
    </div>
  </div>
</div>
